<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org"
         value="https://api.nuget.org/v3/index.json"
         protocolVersion="3" />
    <add key="feedz.io/xunit/xunit"
         value="https://f.feedz.io/xunit/xunit/nuget/index.json"
         protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="feedz.io/xunit/xunit">
      <package pattern="xunit.v3" />
      <package pattern="xunit.v3.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
